<a href="https://colab.research.google.com/github/peterphoenix/School-Projects/blob/master/Assignment_1_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

COMP6577_LA01_ASG1 - Peter Phoenix 2201735413

In [ ]:
import pandas as pd
Data = pd.read_csv("listings.csv")

In [ ]:
#1. Find Minimum or Maximum Value
minValue = Data.min()
print(minValue)
maxValue = Data.max()
print(maxValue)

id                                                   49091
host_id                                              23666
host_name                         (Email hidden by Airbnb)
neighbourhood_group                         Central Region
neighbourhood                                   Ang Mo Kio
latitude                                           1.24387
longitude                                          103.647
room_type                                  Entire home/apt
price                                                    0
minimum_nights                                           1
number_of_reviews                                        0
reviews_per_month                                     0.01
calculated_host_listings_count                           1
availability_365                                         0
dtype: object
id                                   38112762
host_id                             288567551
host_name                                  ｼﾝ
neighbourhood_group               West Region
neighbourhood                          Yishun
latitude                              1.45459
longitude                             103.973
room_type                         Shared room
price                                   10000
minimum_nights                           1000
number_of_reviews                         323
reviews_per_month                          13
calculated_host_listings_count            274
availability_365                          365
dtype: object

In [ ]:
#2. Eliminate Null Value
noNullVal = Data.dropna()
print(noNullVal)

            id  ... availability_365
0        49091  ...              365
1        50646  ...              365
2        56334  ...              365
3        71609  ...              353
4        71896  ...              355
...        ...  ...              ...
7715  37621650  ...              189
7728  37690516  ...                1
7752  37798739  ...              120
7766  37841266  ...              159
7767  37852422  ...              298

[5148 rows x 16 columns]

In [ ]:
#3. Replace Null Value to certain Value (in this Case 0)
fillNullVal = Data.fillna(0)
print(fillNullVal)

            id  ... availability_365
0        49091  ...              365
1        50646  ...              365
2        56334  ...              365
3        71609  ...              353
4        71896  ...              355
...        ...  ...              ...
7902  38105126  ...               61
7903  38108273  ...              365
7904  38109336  ...              173
7905  38110493  ...               30
7906  38112762  ...              365

[7907 rows x 16 columns]